/*** Header section  ***/
.c-header-section {
    min-height: 0;
}

/***  Hero section  ***/
.c-hero-section {
    min-height: 100vh;
    background: url('../images/hero-img.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-container {
    max-width: 75rem;
    margin: 0 auto;
}

.c-hero__title{
    margin-block-start: 1rem;
    
    > div:first-child {
        margin-block-end: 0.625rem;

        @media (min-width: $mobile-xs) {
            margin-block-end: -0.3rem;
        }
            
        @media (min-width: $mobile-sm) {
            margin-block-end: -0.625rem;
        }
            
        @media (min-width: $desktop) {
                margin-block-end: -1.25rem;
        }
    
        @media (min-width: $desktop-xl) {
            margin-block-end: -2rem;
        }
    }
}

.c-color__content {
    margin: 0.5em auto 1.7em;
    width: 2.0625em;
    height: 0.6785em;
    background: -moz-linear-gradient( 0deg, rgba(231, 67, 21, 0.902) 0%, rgba(255, 184, 108, 0.902) 33%,  rgba(80, 250, 122, 0.902) 100%);
    background: -webkit-linear-gradient( 0deg, rgba(231, 67, 21, 0.902) 0%, rgba(255, 184, 108, 0.902) 33%,  rgba(80, 250, 122, 0.902) 100%);
    background: -ms-linear-gradient( 0deg, rgba(231, 67, 21, 0.902) 0%, rgba(255, 184, 108, 0.902) 33%,  rgba(80, 250, 122, 0.902) 100%);
}

.c-hero-footer {
    position: absolute;
    left: 10%;
    bottom: 15%;
    max-width: 85vw;
    min-height: auto;
    margin: 0 auto;

    > p {
        border-block-start: 2px solid var(--color-alert);
        padding-inline-start: 1rem;
        padding-block-start: 0.75rem;
        color: var(--color-white);
        writing-mode: vertical-lr;
        transform: rotateZ(180deg);
    }
}


/***  Affixes section  ***/
.c-affixes-section {
    padding-block-start: 5.75rem;
    padding-block-end: 4.0625rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    background: url('../images/affixes-img.jpg');
    background-size: cover;
    background-position: center;
}

.c-content__title {
    margin-block-start: 4rem;
    margin-block-end: 1.1875rem;
}

.c-content__desc {
    margin-block-start: 1.5rem;
    margin-block-end: 1.5rem;
}


/*** Second Affixes section  ***/
.c-affixes2-section {
    padding-block-start: 0.75rem;
    padding-block-end: 4.0625rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    background: -moz-linear-gradient(-90deg, #2D2C2F 0%, #2E2D30 0.01%, #131313 100%), #0C0C0C;
    background: -webkit-linear-gradient(-90deg, #2D2C2F 0%, #2E2D30 0.01%, #131313 100%), #0C0C0C;
    background: -ms-linear-gradient(-90deg, #2D2C2F 0%, #2E2D30 0.01%, #131313 100%), #0C0C0C;
}

/*** Group Considerations section  ***/
.c-considerations-section {
    padding-block-start: 0.75rem;
    padding-block-end: 0;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    background: url('../images/considerations-img.jpg');
    background-size: cover;
    background-position: center;
}

/*** Footer section  ***/
.c-footer-section {
    padding-block-start: 3.9375rem;
    background-color: var(--color-black);
}

.c-footer__title {
    margin-block-end: 2.5625rem;
    font-weight: 700;
}

.c-footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $mobile) {
        flex-direction: row;
        justify-content: space-between;
    }

    .c-footer__link {
        text-decoration: none;
        margin-block-end: 2.5625rem;
    }
}








