:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey-light: #BCBCBC;
    --color-grey-dark: #383838; 
    --color-grey: #393939;
    --color-primary: #00FFF0;
    --color-warning: #FFB86C;
    --color-success: #50FA7B;
    --color-alert: #E74315;
    --color-orange: #BA3A16;
    --color-black-red: rgba(23, 11, 11, 0.5);
}

$mobile-xss: 380px;
$mobile-xs: 440px;
$mobile-sm: 768px;
$mobile: 1024px;
$desktop: 1025px;
$desktop-md: 1280px;
$desktop-lg: 1440px;
$desktop-xl: 1680px;


